#form{

    display: flex;
    flex-direction: column;
    background-color: #dacfcf;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 13%;
    width: 75%;
    height: 75%;
    top: 10%;
}
#submit{
    position: absolute;
    bottom: 5%;
    width: 34%;
    z-index: 100;}
#select {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 20%;

}
#outside{
    height: 100%;
    background-color: #a27e97;
}
#select-box{
    display: flex;
}
#label-select{
    position: absolute;
    top: 15%;
    left: 10%;
}
#header{
    /*height: 20%;*/
    /*background-color: gray;*/
    width: inherit;
    height: 10%;
    top: 10%;
    background-color:gray ;
    position: fixed;
}
#footer{
    width: inherit;
    height: 10%;
    bottom: 15%;
    background-color: gray;
    position: fixed;
}

